html{
	padding: 0;
}
body{
	font-family: 'Josefin Slab', serif;
	background:white;
}
#box1{
	padding-top: 90px;
}
.nav{
	padding-top: 150px;
}
h4{
	font-family: 'Josefin Slab', serif;
	padding: 14px 16px;
	background-color: black;
	color: white;
}
ul {
	font-size: 19px;
    list-style-type: none;
    margin: 0;
    padding-right: 150px;
    overflow: hidden;
}
li {
    float:center;
	padding: 5px;
	display: inline;
}
li a {
	border:2px solid black;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
    color: white;
}
#blog{
  float: right;
}
#blog a{
  color: white;
}
/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 95%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
@media screen and (max-width:1200px) {
  li a:not(:first-child) {display: none;}
  li a{
    display: block;
    width: 150px;
  }
}
@media screen and (max-width: 600px) {
  .nav li a{position: relative;}
  .nav {
    padding:0px; 
  }
}
@media screen and (max-width: 600px) {
	#calaca {display:;}
	#calaca{
		padding-top: 110px;
	}
}
@media screen and (max-width: 600px) {
    #titulo {display:;}
    #titulo li a{
        font-size: 16px;
    }
}
footer{
	padding-top: 85px;
}